<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team List</h1>
        <h2>Welcome</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th><th>Member Count</th>
                </tr>
            </thead>
            <body>
                <tr th:each="team : ${teamList}">
                    <td th:text="${team.name}"></td><td th:text="${team.memberCount}"></td>
                </tr>
                <div><a th:href="@{/}">Home</a></div>
            </body>
        </table>
    </body>
</html>